{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Список постов{% endblock %}

{% block content %}
      <a href="{% url 'post_list' %}">Все посты</a>
        {% if post.image %}
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% else %}
          <img src="{% static 'blog/images/default.jpg' %}" class="card-img-top" alt="default">
        {% endif %}
        <p>{{post.text}}</p>

        <hr>
        <a href="{% url 'post_update' post.pk %}">Изменить</a>
       <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}